---
import "../styles/style2.css";
import Layout from "../layout/Layout.astro";
---

<Layout>
<body>
    <h1>ABOUT US</h1>
    <section class="grid_1-1">
        <p class="tekst1">Welcome to the Copenhagen Sakura Festival. <br><br>
            Our festival is a celebration of the blooming of cherry blossom trees, known as sakura in Japanese. 
            The festival is a cultural event that brings together people from different backgrounds to appreciate
            the beauty of nature and celebrate new beginnings.
        </p>
        <img src="/png/about1.webp" alt="festival" class="img1">
    </section>
        <p class="tekst2">The Committee of the Copenhagen Sakura Festival was established in February 2008 with the goal of arranging the annual cultural event in collaboration with the Japanese Embassy in Denmark, the Municipality of Copenhagen, and other Japan-related cultural and private organizations. Our festival is made possible by the generous donations and support of our partners.
            <br><br>The original idea for the Copenhagen Sakura Festival came from the donation of 200 cherry blossom trees by Mr. Seiichi Takaki, President of Andersen Institute of Bread & Life, and his employees. The donated trees were planted in Langelinie Park, where they continue to bloom each year, providing a beautiful backdrop for our festival.
        </p>
        <p class="tekst3">In Japan, sakura is a beloved flower that symbolizes the fleeting nature of life and the beauty that can be found in fleeting moments. The Copenhagen Sakura Festival aims to bring that same spirit to Denmark, where people can come together to enjoy the beauty of nature and connect with others under the sakura trees.
            Our Committee is honored to have the Honorable Chairpersons H.E. the Ambassador of Japan to Denmark and the Lord Mayor of the City of Copenhagen. The Committee is made up of representatives from Japan-related businesses, cultural and private organizations, the Municipality of Copenhagen, and the Japanese Embassy.
            <br><br>We hope you will join us in celebrating the Copenhagen Sakura Festival and the beauty of sakura. Thank you for visiting our website, and we look forward to seeing you at the festival!
        </p>
    <section class="grid_1-2">
        <img src="/png/about2.webp" alt="festival2" class="img2">
        <img src="/png/about3.webp" alt="festival3" class="img3">
    </section>
    <br><br>
</body>
</Layout>

<style>
    .grid_1-1 {
        display: flex;
        flex-direction: row;
        /* justify-content: space-between; */
    }
    body {
        background-image: url(../../gren2.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .img1 {
        width:40vh;
        height: 30vh;
        margin: 3%;
    }
    .tekst1 {
        width: 40vw;
        margin-left: 5%;
        margin-top: 2%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 0.7rem;
        text-align: justify;
    } 
    .tekst2 {
        margin-top: 3%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 0.7rem;
        width: 66vh;
        margin-left: 5%;
        text-align: justify;
    }
    .tekst3 {
        margin-top: 3%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 0.7rem;
        width: 66vh;
        margin-left: 5%;
        text-align: justify;
    }
    
    h1 {
        margin-top: 5%;
        margin-left: 5%;
    }
    .img2 {
        width:67vh;
        height: 45vh;
        margin-left: -5%;
        margin-top: 4%;
        margin: 4%;
    }
    .img3 {
        width:67vh;
        height: 45vh;
        margin-left: 16%;
        margin-top: 2%;
        margin: 4%;
    }

    @media screen and (min-width: 1400px){
        h1 {
            font-size: 2.7rem;
            margin-left: 9%;
        }
        .tekst1 {
            font-size: 1.7rem;
            margin-left: 9%;
            margin-top: 2.5%;
            width: 69vh;
            text-align: justify;
        }
        .img1 {
            width: 70vh;
            height: 50vh;
            padding: 2px;
            margin-left: 3%;
        }
        .tekst2 {
            font-size: 1.5rem;
            margin-left: 9%;
            text-align: justify;
        }
        .tekst3 {
            font-size: 1.5rem;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            margin-left: 51%;
            margin-top: -31.5%;
            width: 66vh;
            text-align: justify;
        }
        .img2 {
            width: 66vh;
            height: 43vh;
            margin-left: 9%;
            margin-top: 5%;
        }
        .img3 {
            width: 66vh;
            height: 43vh;
            margin-left: 51%;
            margin-top: -35%;
        }
      
    }
    @media screen and (min-width: 900px){
        h1 {
            font-size: 2.2rem;
            margin-left: 9%;
        }
        .tekst1 {
            font-size: 1.2rem;
            margin-left: 9%;
            margin-top: 2.5%;
            width: 69vh;
            text-align: justify;
        }
        .img1 {
            width: 67vh;
            height: 50vh;
            padding: 2px;
            margin-left: 3%;
        }
        .tekst2 {
            font-size: 1.2rem;
            margin-left: 8.5%;
            text-align: justify;
        }
        .tekst3 {
            font-size: 1.2rem;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            margin-left: 54%;
            margin-top: -44%;
            width: 66vh;
            text-align: justify;
        }
        .img2 {
            width: 66vh;
            height: 43vh;
            margin-left: 8.5%;
            margin-top: 5%;
        }
        .img3 {
            width: 66vh;
            height: 43vh;
            margin-left: 53.5%;
            margin-top: -35%;
        }
      
    }
</style>