---
import "../styles/style2.css";
---

<header>
  <li class="logo">
    <a href="/index"><img src="../logo.png" alt="logo" /></a>
    <div class="text">22/4 - 23/4</div>
  </li>

  <button class="hamburger" aria-label="Toggle Menu">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <nav class="menu">
    <button class="close-menu" aria-label="Close Menu">
      <span></span>
      <span></span>
    </button>
    <ul class="links">
      <li><a href="/program">PROGRAM</a></li>
      <li><a href="/#">YOUR PROGRAM</a></li>
      <li><a href="/about">ABOUT US</a></li>
      <li><a href="#">NAVIGATION</a></li>
      <li><a href="#">BECOME A VOLUNTEER</a></li>
    </ul>
  </nav>
</header>
