---
import Layout from "../layout/Layout.astro";
import "../styles/indexstyle.css";
---

<Layout>
  <section id="bgi">
    <article id="first_words">
      <h1>SAKURA FESTIVAL</h1>
      <p>2 DAYS OF JAPANESE</p>
    </article>
    <article id="splash_words">
      <h2 class="food">FOOD</h2>
      <h2 class="culture">CULTURE</h2>
      <h2 class="martial_arts">MARTIAL ARTS</h2>
      <h2 class="music">MUSIC</h2>
    </article>

    <div class="buttons">
      <button class="saturday"><a href="/program">SATURDAY</a></button>
      <button class="sunday"><a href="/program">SUNDAY</a></button>
    </div>

    <hr />

    <h2>ABOUT US</h2>
    <p>
      Welcome to the Copenhagen Sakura Festival, a celebration of the blooming
      cherry blossom trees, known as sakura in Japanese. Our festival is a
      cultural event that brings people together to appreciate the beauty of
      nature and celebrate new beginnings. Established in 2008, the festival is
      organized by the Committee in collaboration with the Japanese Embassy in
      Denmark, the Municipality of Copenhagen, and other Japan-related cultural
      and private organizations. Join us to experience the beauty of sakura and
      connect with others in Langelinie Park.
    </p>
    <img src="" alt="" />

    <button>READ MORE</button>
  </section>
</Layout>
