---
import Layout from "../layout/Layout.astro";
import "../styles/indexstyle.css";
---

<Layout>
  <div id="first_words">
    <h1>Sakura Festival</h1>
    <p>2 days of japanese</p>
  </div>
  <article id="splash_words">
    <h2 class="food">FOOD</h2>
    <h2 class="culture">CULTURE</h2>
    <h2 class="martial arts">MARTIAL ARTS</h2>
    <h2 class="music">MUSIC</h2>
  </article>
</Layout>
