---
import Layout from "../layout/Layout.astro";
import "../styles/indexstyle.css";
---

<Layout>
  <section id="bgi">
    <article id="first_words">
      <h1>SAKURA FESTIVAL</h1>
      <p>2 DAYS OF JAPANESE</p>
    </article>
    <article id="splash_words">
      <h2 class="food">FOOD</h2>
      <h2 class="culture">CULTURE</h2>
      <h2 class="martial_arts">MARTIAL ARTS</h2>
      <h2 class="music">MUSIC</h2>
    </article>
  </section>
</Layout>
