---
import Card from "../components/Card.astro";
import Layout from "../layout/Layout.astro";
import "../styles/style2.css";

const url = "https://mzykwgcazuwilcangncr.supabase.co/rest/v1/sakurafestival";

const options = {
  headers: {
    apikey:
      "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im16eWt3Z2NhenV3aWxjYW5nbmNyIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3ODYzODAsImV4cCI6MTk5NDM2MjM4MH0.avfm3ZRaeO1T79xBNSsZ_lFuVf1D42bpuOvXPUfv7Fw",
  },
};

const response = await fetch(url, options);
const data = await response.json();
console.log(data);
---

<Layout title="Program">
  <section class="card-container">
    {
      data.map((show) => {
        return <Card data={show} />;
      })
    }
  </section>

  <h1>Program</h1>
</Layout>
