---
import Card from "../components/Card.astro";
import Layout from "../layout/Layout.astro";
import "../styles/style2.css";
---

<Layout title="Program">
  <h1>Program</h1>
  <Card name="Kimono" />
</Layout>
