---
// const header = Astro.props.header;
// const text = Astro.props.text;

// const {header, text}=Astro.props;
const { name, image, location, from, to } = Astro.props;
---

<article class="card">
  <h2>{name}</h2>
  <img src={image} alt="" />
  <p>{location}</p>
  <slot />
</article>

<style>
</style>

