---

---
    <footer>
      <div class="contact">
        <div class="phone">
          <span>Contact</span>
          <a href="tel:+4533455121">(+45) 33 45 51 21</a>
        </div>
        <div class="email">
          <a href="mailto:info.cph@ch.mofa.go.jp">info.cph@ch.mofa.go.jp</a>
        </div>
        <div class="address">
          <span>c/o Embassy of Japan Havneholmen 25, 9F. 1561 København V</span>
          <span></span>
        </div>
      </div>
      <div class="icon">
        <img src="../../instagram.png" alt="">
        <img src="../../facebook.png" alt="">
      </div>
      <div class="menu">
        <ul>
          <li><a href="#">Become a volunteer</a></li>
          <li><a href="#">Navigation</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Program</a></li>
        </ul>
      </div>
    </footer>
    
    <style>

      :root{
         /* COLOR */
 --background-color: #fef5f4;
  --sakura-festival-food-color: #bf5468;
  --main-red: #9f1d1d;
  --black: #000000;
      }

.icon{ 
  display: grid;
  padding: 1rem;
}
.icon :nth-child(n){
  margin: 0.3rem;
}
      footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
        background-color: var(--main-red);
      }
    
      .menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
    
      .menu li {
        display:inline-flex;
        margin-right: 2rem;
      }
    
      .menu a {
        color:var(--background-color);
        text-decoration: none;
        font-size: 1.2rem;
      }
      .contact {
        text-align: left;
        color: var(--background-color);
        font-family: Jost;
      }
    
      .phone {
        margin-bottom: 1rem;
      }
    
      .phone span {
        display: block;
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }
    
      .phone a {
        color: var(--background-color);
        text-decoration: none;
      }
      .email {
        margin-bottom: 1rem;   
      }
      .email a {
        text-decoration: none;
        font-size: 1.2rem;
        color: var(--background-color);
      }
    
      .address span {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 1.2rem;
      }

      @media only screen and (max-width: 600px){
        .address span {
        font-size: 1rem;
      }
      .phone span {     
        font-size: 1rem;
      }

      .email a {
        font-size: 1rem;  
      }
      .menu a {
        font-size: 1rem;
      }

      footer {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items:flex-start;
        padding: 2rem;
        background-color: var(--main-red);
      }
      .icon{ 
  display: grid;
  padding: 0.1rem;
  grid-template-columns: 1fr 1fr ;
}
.icon :nth-child(n){
  margin: 0.3rem;
}
      }

    </style>
    